body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px; /* Make space for the footer */
}

.header {
    background: linear-gradient(to right, #4CAF50, #66BB6A);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.logo {
    display: block;
    margin: 0 auto 10px; /* Center the logo and add some space below */
    max-width: 100%;
}

.header-content {
    margin-bottom: 20px; /* Add space between logo and title */
}

.header h1 {
    margin: 0;
    padding: 0;
}

.header h2 {
    margin: 0;
    padding: 10px 0;
    font-weight: normal;
    color: #f1f1f1;
}

.content {
    padding: 20px;
}

.about {
    background: linear-gradient(to right, #4CAF50, #66BB6A);
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
    background: linear-gradient(to right, #333, #555);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
